{% extends "_layouts/base.twig" %}

{% block content %}
  {# content #}
  <div class="uk-width uk-margin-top" uk-grid>
    <div class="uk-width-3-4@m uk-container">
      {% if entry.type == 'post' %}
        {% include "blog/_entry_post.twig" %}
      {% elseif entry.type == 'about' %}
        {% include "blog/_entry_about.twig" %}
      {% elseif entry.type == 'kategori' %}
        {% include "blog/_entry_kategori.twig" %}
      {% endif %}
    </div>
    <div class="uk-width-1-4@m uk-width-1-1@s">
      <ul class="uk-nav uk-nav-default">
        <li class="uk-nav-header">Kategori</li>
        {% for item in craft.categories.all() %}
          <li><a href="{{item.url}}">{{item.title}}</a></li>
        {% endfor %}
        <li class="uk-nav-divider"></li>
        <li class="uk-nav-header">Post Terbaru</li>
        {% set recent = craft.entries.section('post').type('post').limit(5).all() %}
        {% for item in recent %}
          <li><a href="{{item.url}}">{{item.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {# end content #}
{% endblock %}