{% extends "_layouts/base.twig" %}

{% block content %}
  {# if #}
  <div class="uk-width uk-margin-top" uk-grid>
    <div class="uk-width-3-4@m uk-container">
      {% include "blog/_entry_homepage.twig" %}
    </div>
    <div class="uk-width-1-4@m uk-width-1-1@s">
      <ul class="uk-nav uk-nav-default">
        <li class="uk-nav-header">Kategori</li>
        {% for item in craft.categories.all() %}
          <li><a href="{{item.url}}">{{item.title}}</a></li>
        {% endfor %}
        <li class="uk-nav-divider"></li>
        <li class="uk-nav-header">Post Terbaru</li>
        {% set recent = craft.entries.section('post').type('post').limit(5).all() %}
        {% for item in recent %}
          <li><a href="{{item.url}}">{{item.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {# end if #}
{% endblock %}